---
import '@fontsource/poppins';

import Layout from '../layouts/Layout.astro';
import Stacks from '../layouts/Stacks.astro';
import Experiences from '../layouts/Experiences.astro';
import Portfolio from '../layouts/Portfolio.astro';

import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import StackCard from '../components/StackCard.astro';
import Timeline from '../components/Timeline.astro';
import Project from '../components/Project.astro';
import ProjectWeb from '../components/ProjectWeb.astro';

import Card from '../components/Card.astro';

import { inject } from '@vercel/analytics';

import picvector from '../img/picvector.png'

import html from '../img/stack/html.png'
import css from '../img/stack/css.png'
import js from '../img/stack/js.png'
import java from '../img/stack/java.png'
import python from '../img/stack/python.png'

import vue from '../img/stack/vue.png'
import vuetify from '../img/stack/vuetify.png'
import node from '../img/stack/node.png'
import laravel from '../img/stack/laravel.png'
import codeigniter from '../img/stack/codeigniter.png'
import react from '../img/stack/react.png'

import web from '../img/stack/web.png'
import android from '../img/stack/android.png'
import git from '../img/stack/git.png'

import vscode from '../img/stack/vscode.png'
import github from '../img/stack/github.png'
import bitbucket from '../img/stack/bitbucket.png'
import jira from '../img/stack/jira.png'
import figma from '../img/stack/figma.png'
import xd from '../img/stack/xd.png'
import photoshop from '../img/stack/photoshop.png'

import android1 from '../img/android/android1.png'
import android2 from '../img/android/android2.png'
import android3 from '../img/android/android3.png'
import android4 from '../img/android/android4.png'
import android5 from '../img/android/android5.png'
import android6 from '../img/android/android6.png'
import android7 from '../img/android/android7.png'
import android8 from '../img/android/android8.png'

import bhen2 from '../img/web/bhen2.png'
import megatalk from '../img/web/megatalk.png'
import ebook from '../img/web/ebook.png'
import tekmonks from '../img/web/tekmonks.png'
import altImg from '../img/web/altImg.png'
import pos from '../img/web/pos.png'

import htmlite from '../img/personal/htmlite.png'
import portfolio from '../img/personal/portfolio.png'
import throughtheglass from '../img/personal/throughtheglass.png'

inject();
---

<Layout title="Portfolio | Jezrel Dave"
	metacontent="Jezrel Dave Sondia Personal Portfolio and IT and Programming related blogs"
>
	<Navigation></Navigation>
	<main id="home">
		<Hero
			name="Jezrel Dave"
			position="Full Stack Web Developer"
			image={picvector}
		>
		</Hero>
		<Stacks id="stacks">
			<div class="mb-5 text-xl text-center font-medium text-yellow-400">Fundamental Languages</div>
			<div class="flex flex-wrap justify-center gap-5 mb-10" data-aos="zoom-in"  data-aos-duration="1000">
				<StackCard
					name="HTML"
					alt="HTML"
					image={html}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="CSS"
					alt="CSS"
					image={css}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Javascript"
					alt="Javascript"
					image={js}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Java"
					alt="Java"
					image={java}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Python"
					alt="Python"
					image={python}
					aspectRatio={1}
					width={80}
				/>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-yellow-400">Frameworks</div>
			<div class="flex flex-wrap justify-center gap-5 mb-10"  data-aos="zoom-in"  data-aos-duration="1000">
				<StackCard
					name="VueJS"
					alt="VueJS"
					image={vue}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Vuetify"
					alt="Vuetify"
					image={vuetify}
					aspectRatio={0.88}
					width={80}
				/>
				<StackCard
					name="NodeJS"
					alt="Node NodeJS"
					image={node}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Laravel"
					alt="Laravel"
					image={laravel}
					aspectRatio={0.98}
					width={80}
				/>
				<StackCard
					name="CodeIgniter"
					alt="Code Igniter"
					image={codeigniter}
					aspectRatio={0.84}
					width={80}
				/>
				<StackCard
					name="React JS"
					alt="React JS"
					image={react}
					aspectRatio={1}
					width={80}
				/>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-yellow-400">Skills</div>
			<div class="flex flex-wrap justify-center gap-5 mb-10"  data-aos="zoom-in"  data-aos-duration="1000">
				<StackCard
					name="Web Development"
					alt="Web Development"
					image={web}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Android/Mobile Development"
					alt="Android/Mobile Development"
					image={android}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Git"
					alt="Git"
					image={git}
					aspectRatio={1}
					width={80}
				/>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-yellow-400">Softwares and Programs</div>
			<div class="flex flex-wrap justify-center gap-5 mb-10" data-aos="zoom-in"  data-aos-duration="1000">
				<StackCard
					name="Visual Studio Code"
					alt="Visual Studio Code"
					image={vscode}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Android Studio"
					alt="Android Studio"
					image={android}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Github"
					alt="Github"
					image={github}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Bitbucket"
					alt="Bitbucket"
					image={bitbucket}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Jira (Atlassian)"
					alt="Jira Atlassian"
					image={jira}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Figma"
					alt="Figma"
					image={figma}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Adobe XD"
					alt="Adobe XD"
					image={xd}
					aspectRatio={1}
					width={80}
				/>
				<StackCard
					name="Adobe Photoshop"
					alt="Adobe Photoshop"
					image={photoshop}
					aspectRatio={1}
					width={80}
				/>
			</div>
		</Stacks>
		<Experiences id="experience">
			<Timeline></Timeline>
		</Experiences>
		<div class="bg-black flex flex-col md:flex-row p-10 md:p-16 flex-wrap text-white justify-center gap-20 tracking-widest items-center">
			<div class="text-3xl font-semibold">
				Want to work with me? <br><span class="bg-clip-text text-6xl text-transparent font-black bg-gradient-to-r from-pink-500 to-violet-500">Hire Me</span>
			</div>
			<div>
				<a href="/contact">
					<button class="px-5 py-3 bg-indigo-600 hover:bg-indigo-800 rounded-lg">Message Me</button>
				</a>
			</div>
		</div>
		<Portfolio id="portfolio">
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Android Development</div>
			<div class="flex justify-center text-white text-center mb-10">
				<Project
					name="U Education"
					details="U Education is a mobile application providing B2B services for online English academies. This was used by korean students of the company."
					stacks={["Java","XML"]}
					images={[android1, android2, android3, android4, android5, android6, android7, android8]}
				>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Web Development</div>
			<div class="flex flex-wrap md:flex-nowrap justify-center text-white text-center mb-10 gap-10">
				<ProjectWeb
					name="Megatalking - Official Website"
					details="This is a website to be used as an LMS or a Learning Management System to provide smooth coordination between native speaking instructors, domestic operators, and clients."
					stacks={["Vuejs", "Vuetify", "Laravel", "HTML", "CSS", "JavaScript", "**Note: This was taken down this 2024**"]}
					image={megatalk}
					alt="Megataking"
					url="https://megatalking.co.kr/"
				/>
				<ProjectWeb
					name="Blackhole Korea - Official Website"
					details="A landing page of a client company."
					stacks={["HTML", "CSS", "JavaScript", "Bootstrap", "**Note: This was taken down on 2022**"]}
					image={bhen2}
					alt="Blackhole Bhen"
					url="https://bhen.co.kr/"
				/>
				<ProjectWeb
					name="UEDU e-Books"
					details="A library of materials and references suitable for the course chosen by the client of MegaTalking."
					stacks={["Vuejs", "Vuetify", "Laravel", "HTML", "CSS", "JavaScript"]}
					image={ebook}
					alt="Ueducation Ebook"
					url="https://ueducms.org/webbooks/#/book-list?enc=MDAxfHN0dWRlbnR8bWVnYXRhbGtpbmc%3D%2F"
				/>
			</div>
			<div class="flex flex-wrap md:flex-nowrap justify-center text-white text-center mb-10 gap-10">
				<ProjectWeb
					name="Tekmonks - Official Website / Blog Manager"
					details="Tekmonks' official website. A company that provides IT services and solutions. Under this, there is also a blog manager for managing the company's blog."
					stacks={["Nodejs", "HTML", "CSS", "JavaScript"]}
					image={tekmonks}
					alt="Megataking"
					url="https://tekmonks.com"
				/>
				<ProjectWeb
					name="WiseTechSolution - Internal Reports System"
					details="A system to manage internal reports of WiseTechSolution. The system automates the reports by fetching data from database and pre-generated spreadsheets."
					stacks={["HTML", "CSS", "Vue", "VueBootstrap", "Javascript", "Laravel", "MySQL"]}
					image={altImg}
					alt="WiseTechSolution"
					url="#"
				/>
				<ProjectWeb
					name="MeritEHS - Employee Management System"
					details="An employee management system for Merit Technologies"
					stacks={["HTML", "CSS", "Vue", "VueBootstrap", "Javascript", "Laravel", "MySQL"]}
					image={altImg}
					alt="WiseTechSolution"
					url="#"
				/>
			</div>	
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Personal Projects</div>
			<div class="flex flex-wrap md:flex-nowrap justify-center text-white text-center mb-10 gap-10">
				<ProjectWeb
					name="Jezrel Dave Sondia - Personal Portfolio"
					details="A portfolio website by Jezrel Dave Sondia"
					stacks={["Vuejs", "Vuetify", "HTML", "CSS", "JavaScript"]}
					image={portfolio}
					alt="Jezrel Dave Sondia - Personal Portfolio"
					url="https://jezreldave.vercel.app/"
				/>
				<ProjectWeb
					name="HTMLite - HTML & CSS lite compiler"
					details="A HTML and CSS compiler made with Vue"
					stacks={["Vuejs", "Vuetify", "HTML", "CSS", "JavaScript"]}
					image={htmlite}
					alt="HTMLite - HTML & CSS lite compiler"
					url="https://htmlite.vercel.app/"
				/>
				<ProjectWeb
					name="Through the Glass Creatives - Blog Page"
					details="A simple blog page made for Through the Glass Creatives"
					stacks={["Vuejs", "Vuetify", "HTML", "CSS", "JavaScript"]}
					image={throughtheglass}
					alt="Through the Glass Creatives - Blog Page"
					url="https://throughtheglasscreatives.vercel.app/"
				/>
			</div>
			<div class="flex flex-wrap md:flex-nowrap justify-center text-white text-center mb-10 gap-10">
				<ProjectWeb
					name="Boomer Enterprise -  POS System"
					details="A full stack POS system for Boomer Enterprise; managing customers, products, and orders, and printing receipts"
					stacks={["Vuejs", "Vuetify", "Express", "MongoDB", "HTML", "CSS", "JavaScript"]}
					image={pos}
					alt="Boomer Enterprise"
					url="#"
				/>
			</div>
		</Portfolio>
	</main>
</Layout>

<style is:global>
	
	@font-face {
		font-display: swap;
	}
	html {
		scroll-behavior: smooth;
	}
	
	body{
		font-family: 'Poppins', sans-serif;
	}
	
</style>

