---
import '@fontsource/poppins';

import Layout from '../layouts/Layout.astro';
import Stacks from '../layouts/Stacks.astro';
import Experiences from '../layouts/Experiences.astro';
import Portfolio from '../layouts/Portfolio.astro';

import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import StackCard from '../components/StackCard.astro';
import Timeline from '../components/Timeline.astro';
import Project from '../components/Project.astro';
import ProjectWeb from '../components/ProjectWeb.astro';

import Card from '../components/Card.astro';

import { inject } from '@vercel/analytics';

import picvector from '../img/picvector.png'

import html from '../img/stack/html.png'
import css from '../img/stack/css.png'
import js from '../img/stack/js.png'
import java from '../img/stack/java.png'
import python from '../img/stack/python.png'

import vue from '../img/stack/vue.png'
import vuetify from '../img/stack/vuetify.svg'
import node from '../img/stack/node.png'
import laravel from '../img/stack/laravel.png'
import codeigniter from '../img/stack/codeigniter.svg'
import react from '../img/stack/react.png'

import web from '../img/stack/web.png'
import android from '../img/stack/android.png'
import git from '../img/stack/git.png'

import vscode from '../img/stack/vscode.svg'
import github from '../img/stack/github.png'
import bitbucket from '../img/stack/bitbucket.png'
import jira from '../img/stack/jira.png'
import figma from '../img/stack/figma.png'
import xd from '../img/stack/xd.png'
import photoshop from '../img/stack/photoshop.png'

import android1 from '../img/android/android1.png'
import android2 from '../img/android/android2.png'
import android3 from '../img/android/android3.png'
import android4 from '../img/android/android4.png'
import android5 from '../img/android/android5.png'
import android6 from '../img/android/android6.png'
import android7 from '../img/android/android7.png'
import android8 from '../img/android/android8.png'

import bhen2 from '../img/web/bhen2.png'
import megatalk from '../img/web/megatalk.png'
import ebook from '../img/web/ebook.png'

import htmlite from '../img/personal/htmlite.png'
import portfolio from '../img/personal/portfolio.png'
import throughtheglass from '../img/personal/throughtheglass.png'

inject();
---

<Layout title="Portfolio | Jezrel Dave">
	<Navigation></Navigation>
	<main id="home">
		<Hero
			name="Jezrel Dave"
			position="Full Stack Developer"
			image={picvector}
		>
		</Hero>
		<Stacks id="stacks">
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Fundamental Languages</div>
			<div class="flex flex-wrap justify-center gap-5 mb-10">
				<StackCard
					name="HTML"
					alt="HTML"
					image={html}
				/>
				<StackCard
					name="CSS"
					alt="CSS"
					image={css}
				/>
				<StackCard
					name="Javascript"
					alt="Javascript"
					image={js}
				/>
				<StackCard
					name="Java"
					alt="Java"
					image={java}
				/>
				<StackCard
					name="Python"
					alt="Python"
					image={python}
				/>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Frameworks</div>
			<div class="flex flex-wrap justify-center gap-5 mb-10">
				<StackCard
					name="VueJS"
					alt="VueJS"
					image={vue}
				/>
				<StackCard
					name="Vuetify"
					alt="Vuetify"
					image={vuetify}
				/>
				<StackCard
					name="NodeJS"
					alt="Node NodeJS"
					image={node}
				/>
				<StackCard
					name="Laravel"
					alt="Laravel"
					image={laravel}
				/>
				<StackCard
					name="CodeIgniter"
					alt="Code Igniter"
					image={codeigniter}
				/>
				<StackCard
					name="React JS"
					alt="React JS"
					image={react}
				/>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Skills</div>
			<div class="flex flex-wrap justify-center gap-5 mb-10">
				<StackCard
					name="Web Development"
					alt="Web Development"
					image={web}
				/>
				<StackCard
					name="Android/Mobile Development"
					alt="Android/Mobile Development"
					image={android}
				/>
				<StackCard
					name="Git"
					alt="Git"
					image={git}
				/>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Softwares and Programs</div>
			<div class="flex flex-wrap justify-center gap-5 mb-10">
				<StackCard
					name="Visual Studio Code"
					alt="Visual Studio Code"
					image={vscode}
				/>
				<StackCard
					name="Android Studio"
					alt="Android Studio"
					image={android}
				/>
				<StackCard
					name="Github"
					alt="Github"
					image={github}
				/>
				<StackCard
					name="Bitbucket"
					alt="Bitbucket"
					image={bitbucket}
				/>
				<StackCard
					name="Jira (Atlassian)"
					alt="Jira Atlassian"
					image={jira}
				/>
				<StackCard
					name="Figma"
					alt="Figma"
					image={figma}
				/>
				<StackCard
					name="Adobe XD"
					alt="Adobe XD"
					image={xd}
				/>
				<StackCard
					name="Adobe Photoshop"
					alt="Adobe Photoshop"
					image={photoshop}
				/>
			</div>
		</Stacks>
		<Experiences id="experience">
			<Timeline></Timeline>
		</Experiences>
		<div id="portfolio"></div>
		<Portfolio>
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Android Development</div>
			<div class="flex justify-center text-white text-center mb-10">
				<Project
					name="U Education"
					details="U Education is a mobile application providing B2B services for online English academies. This was used by korean students of the company."
					stacks={["Java","XML"]}
					images={[android1, android2, android3, android4, android5, android6, android7, android8]}
				>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Web Development</div>
			<div class="flex flex-wrap md:flex-nowrap justify-center text-white text-center mb-10 gap-10">
				<ProjectWeb
					name="Megatalking - Official Website"
					details="This is a website to be used as an LMS or a Learning Management System to provide smooth coordination between native speaking instructors, domestic operators, and clients."
					stacks={["Vuejs", "Vuetify", "Laravel", "HTML", "CSS", "JavaScript"]}
					image={megatalk}
					alt="Megataking"
					url="https://megatalking.co.kr/"
				/>
				<ProjectWeb
					name="Blackhole Korea - Official Website"
					details="A landing page of a client company."
					stacks={["HTML", "CSS", "JavaScript", "Bootstrap"]}
					image={bhen2}
					alt="Blackhole Bhen"
					url="https://bhen.co.kr/"
				/>
				<ProjectWeb
					name="UEDU e-Books"
					details="A library of materials and references suitable for the course chosen by the client of MegaTalking."
					stacks={["Vuejs", "Vuetify", "Laravel", "HTML", "CSS", "JavaScript"]}
					image={ebook}
					alt="Ueducation Ebook"
					url="https://ueducms.org/webbooks/#/book-list?enc=MDAxfHN0dWRlbnR8bWVnYXRhbGtpbmc%3D%2F"
				/>
			</div>
			<div class="mb-5 text-xl text-center font-medium text-cyan-700">Personal Projects</div>
			<div class="flex flex-wrap md:flex-nowrap justify-center text-white text-center mb-10 gap-10">
				<ProjectWeb
					name="Jezrel Dave Sondia - Personal Portfolio"
					details="A portfolio website by Jezrel Dave Sondia"
					stacks={["Vuejs", "Vuetify", "HTML", "CSS", "JavaScript"]}
					image={portfolio}
					alt="Jezrel Dave Sondia - Personal Portfolio"
					url="https://jezreldave.vercel.app/"
				/>
				<ProjectWeb
					name="HTMLite - HTML & CSS lite compiler"
					details="A HTML and CSS compiler made with Vue"
					stacks={["Vuejs", "Vuetify", "HTML", "CSS", "JavaScript"]}
					image={htmlite}
					alt="HTMLite - HTML & CSS lite compiler"
					url="https://htmlite.vercel.app/"
				/>
				<ProjectWeb
					name="Through the Glass Creatives - Blog Page"
					details="A simple blog page made for Through the Glass Creatives"
					stacks={["Vuejs", "Vuetify", "HTML", "CSS", "JavaScript"]}
					image={throughtheglass}
					alt="Through the Glass Creatives - Blog Page"
					url="https://throughtheglasscreatives.vercel.app/"
				/>
			</div>
		</Portfolio>
	</main>
</Layout>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
	
	body{
		font-family: 'Poppins', sans-serif;
	}
</style>

