---
import { Image } from 'astro:assets';

export interface Props {
	name: string;
	details: string;
	stacks: Array<string>;
	image: ImageMetadata;
	alt: string;
	url: string;
}

const { name, details, stacks, image, alt, url } = Astro.props;
const hasUrl = url && url !== '#';
---

<article class="bg-gray-900 p-5 md:w-3/12 flex flex-col card rounded-3xl">
	<div class="flex flex-col text-left mb-auto">
		<div class="w-full mb-5">
			<div class="flex justify-center" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<Image
					src={image}
					width={800}
					height={450}
					format="avif"
					alt={alt}
					layout="constrained"
					class="h-48 w-auto transition-transform hover:scale-105"
				/>
			</div>
		</div>

		<h2 class="text-2xl font-bold mb-5 text-center">{name}</h2>

		<details class="mb-5 text-white">
			<summary class="cursor-pointer text-center font-medium text-cyan-300">View More</summary>
			<div class="mt-4 text-left">
				<p class="mb-4">{details}</p>
				<div class="font-medium text-lg mb-2">Stacks Used</div>
				<ul class="pl-5 space-y-1">
					{stacks.map((stack) => <li>• {stack}</li>)}
				</ul>
			</div>
		</details>
	</div>

	{hasUrl && (
		<a href={url} target="_blank" rel="noopener noreferrer" class="inline-flex items-center justify-center px-5 py-2.5 text-sm font-medium text-center text-white bg-amber-600 rounded-lg hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300">
			Visit Website
			<svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
			</svg>
		</a>
	)}
</article>

<style>
	.card {
		--elevation: 5;
		--epx: calc(var(--elevation) * 1px);
		--shadow1: 0 0 1px rgba(0, 0, 0, 0.1);
		--shadow2: 0 1px 2px rgba(0, 0, 0, 0.08);
		--offset-y: calc(var(--epx) + 1px);
		--blur: calc(var(--epx) * 2);
		--spread: calc(var(--epx) * 0.3);
		--shadow3: 0 var(--offset-y) var(--blur) var(--spread) rgba(0, 0, 0, 0.2);

		box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
	}
</style>
