---
import { Image } from 'astro:assets'
export interface Props {
	name: string;
    image: ImageMetadata;
    alt: string;
    aspectRatio: number;
    width: number;
}

const { name, image, alt, aspectRatio, width } = Astro.props;
---

<div class="card flex flex-col justify-center items-center bg-white rounded-lg p-5 w-48 stack-card hover:text-white">
    <Image src={image} alt={alt} width={width} height={aspectRatio} format="avif"/>

    <div class="text-center pt-5">{name}</div>
</div>

<style>
    .card {
        --elevation: 3;
        --epx: calc(var(--elevation) * 1px);
        
        /* these 2 shadows serve as a border for  0-1 elevation    */
        --shadow1: 0 0 1px rgba(0, 0, 0, .1);
        --shadow2: 0 1px 2px rgba(0, 0, 0, .08);
        
        --offset-y: calc(var(--epx) + 1px);
        --blur: calc(var(--epx) * 2);
        --spread: calc(var(--epx) * .3);
        --shadow3: 
            0 var(--offset-y) 
            var(--blur) 
            var(--spread) 
            rgba(0, 0, 0, 0.2);
        
        box-shadow: 
            var(--shadow1),
            var(--shadow2),
            var(--shadow3);


    }
    
    .card:hover {
        --elevation: 0;
        --epx: calc(var(--elevation) * 1px);
        
        /* these 2 shadows serve as a border for  0-1 elevation    */
        --shadow1: 0 0 1px rgba(0, 0, 0, .1);
        --shadow2: 0 1px 2px rgba(0, 0, 0, .08);
        
        --offset-y: calc(var(--epx) + 1px);
        --blur: calc(var(--epx) * 2);
        --spread: calc(var(--epx) * .3);
        --shadow3: 
            0 var(--offset-y) 
            var(--blur) 
            var(--spread) 
            rgba(0, 0, 0, 0.2);
        
        box-shadow: 
            var(--shadow1),
            var(--shadow2),
            var(--shadow3);
    }
    
    .stack-card {
		background-color: white;
		background-image: none;
		background-size: 400%;
		background-position: 100%;
		transition: background-position 1.0s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
	.stack-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
</style>